@model ErrorLogGetResponseVM
@{
    String ErrorDateTime = LikeKero.UI.Utility.CommonMethods.GetDateWithTime(Model.ErrorDateTime, true);
 
}

<link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<div class="filterBodyAddUser float-right">
    <div class="filterWrapp">
        <div id="1" class="bulkImport">
            <div class="paddLTRT">
                <div class="filterHeader">
                    <span class="filterInText">Error Log Details</span>
                    <div id="dismissAdd">
                        <img src='@Url.Content("~/Images/close.png")' />
                    </div>
                </div>
            </div>
            <div class="filterBody emailLogBody">
                <div class="userInfo">
                    <div class="pos">
                        <div class="emailBody">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <span>User Name :</span>
                                        <p>@Model.FirstName @Model.LastName</p>
                                        @*<p>@Model.ErrorDateTime.Value.ToString("dd-MMM-yyyy")</p>
                                            <p class="absTR dateTime"><i class="fa fa-calendar"></i> @Model.ErrorDateTime.Value.ToString("hh:mm tt")</p>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <span>Error Date Time :</span>
                                        <p>@ErrorDateTime</p>
                                        @*<p>@Model.ErrorDateTime.Value.ToString("dd-MMM-yyyy")</p>
                                            <p class="absTR dateTime"><i class="fa fa-calendar"></i> @Model.ErrorDateTime.Value.ToString("hh:mm tt")</p>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <span>Error Message :</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <p>@Model.ErrorMessage</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <span>Inner Exception :</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <p>@Model.InnerException</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <span>Stack Trace :</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <p>@Model.StackTrace</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#dismissAdd, .overlay").on('click', function (e) {
        $('#sidebarFilterAddUser').removeClass('active');
        $("#sidebarFilterAddUser").hide();
        $('.overlay').hide();

    });
    //$(".emailLogBody").mCustomScrollbar({
    //    theme: "dark"
    //});
</script>



















