@model EmailGetResponseVM

@{
   
    String strActualSentDate = LikeKero.UI.Utility.CommonMethods.GetDateWithTime(Model.ActualSentDate, true);    

}
<style type="text/css">
    .emailBody table {
        width: 100%
    }

    #tdUnsubscribe {
        display: none;
    }
.customeEmailbody span{float:none !important;display:inline-block}
.customeEmailbody table tr td{ font-size:12px !important;font-family: 'Myriad Pro Regular';}
.customeEmailbody table tr td div{ font-size:12px !important;}
.customeEmailbody table tr td span{color:#333 !important;}
.customeEmailbody table tr td a{color:#0563c1 !important;}
</style>


<div class="filterBodyAddUser float-right">
    <div class="filterWrapp">
        <div id="1" class="bulkImport">
            <div class="paddLTRT">
                <div class="filterHeader">
                    <span class="filterInText">View Email Log</span>
                    <div id="dismissAdd">
                        <img src='@Url.Content("~/Images/close.png")' />
                    </div>
                </div>
            </div>
            <div class="filterBody emailLogBody">
                <div class="userInfo">
                    <div class="pos">
                        <div class="emailBody">
                            <div class="form-group">
                                <span>Subject :</span>
                                <span class="emlDes">@Model.Subject</span>
                            </div>
                            <div class="form-group">
                                <span>To :</span>
                                <span class="emlDes">@Model.EmailTo</span>
                                @* <label asp-for="EmailTo" readonly class="emailFormCon" />*@
                            </div>
                            @*<div class="form-group">
                                    <span>CC :</span>
                                    <span class="emlDes">@Model.CC</span>
                                </div>
                                <div class="form-group">
                                    <span>BCC :</span>
                                    <span class="emlDes">@Model.BCC</span>
                                </div>*@
                            <div class="form-group">
                                <span>Sent Date :</span>
                                <span class="emlDes">@strActualSentDate</span>

                                @*<label value="@strActualSentDate" readonly class="emailFormCon" />*@
                            </div>

                            <div class="form-group emailBody">
                                <span class="fullscreen">Body :</span>
                                <div class="customeEmailbody">
                                    @Html.Raw(Model.Body)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //$(".emailLogBody").mCustomScrollbar({
    //    theme: "dark"
    //});

    $("#dismissAdd, .overlay").on('click', function (e) {
        $('#sidebarFilterAddUser').removeClass('active');
        $("#sidebarFilterAddUser").hide();
        $('.overlay').hide();

    });
</script>


