@model UserMasterRequestVM
@{
    ViewData["Title"] = "Add / Edit User";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList lstJobRoles = ViewBag.lstJobRoles;
    string Level5AdminGroupName = ViewBag.Level5AdminGroupName;

    
var versionName = Context.Session.GetString("SessionVersionName");
    string sessionVersion = versionName == null ? "" : Newtonsoft.Json.JsonConvert.DeserializeObject<string>(versionName);
    string imgPath = string.IsNullOrEmpty(sessionVersion) ? "" : "/" + sessionVersion;
}

<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/css/autocomplete.css" rel="stylesheet" />
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
    .autocompleteAddUser {
        width: 520px !important;
        max-height: 400px !important;
        overflow-y: auto;
    }
</style>


<form id="frmUser" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.GroupId)
    @Html.HiddenFor(x => x.UserStatus)
    @Html.HiddenFor(x => x.IsOIGChecked)
    @Html.Hidden("IsEmailValid")
    <div class="filterBodyAddUser float-right">
        <div class="filterWrapp">
            <div id="1" class="bulkImport">
                <div class="paddLTRT">
                    <div class="filterHeader">
                        <span class="filterInText">Add/Edit User</span>
                        <div id="dismissAdd">
                            <img src='@Url.Content("~/Images"+imgPath+"/close.png")' />
                        </div>
                    </div>
                    <div class="tabHeader">
                        <ul class="nav nav-tabs addEditListing" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="CreditProfile-tab" data-toggle="tab" href="#CreditProfile" role="tab" aria-controls="CreditProfile" aria-selected="true">User Information</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="filterBody addEditUserHT">
                    <div class="userInfo">
                        <div class="pos">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                    <div class="successBox" style="display:none">
                                        <div class="successBoxText float-left">
                                            <h4>Success</h4>
                                            <label id="lblMessage"></label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="oigStatus" style="display:none">
                                        <div class="row">
                                            <div class="pull-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <h5><span class="text">OIG-GSA Status</span> @*<span class="faExIcon"><i class="fa fa-exclamation-circle"></i></span>*@</h5>
                                                <label>OIG-GSA check found. Please click on OIG-GSA Check to verify details</label>
                                                <span id="spnHits"></span>
                                            </div>
                                            <div class="pull-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <a href="#" id="lnkOIG" class="oigBtnTop btn btn-default">OIG-GSA CHECK</a>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="hrLine mb10">&nbsp;</div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="row_groupId">
                                    <div class="form-group">
                                        <label>Search User Group <span class="starValid">*</span></label>
                                        @if (Model.UserId != null)
                                        {
                                            if (!string.IsNullOrEmpty(Model.Group1Name))
                                            {
                                                Model.GroupName = Model.Group1Name;
                                            }
                                            if (!string.IsNullOrEmpty(Model.Group2Name))
                                            {
                                                Model.GroupName += " - " + Model.Group2Name;
                                            }
                                            if (!string.IsNullOrEmpty(Model.Group3Name))
                                            {
                                                Model.GroupName += " - " + Model.Group3Name;
                                            }
                                            if (!string.IsNullOrEmpty(Model.Group4Name))
                                            {
                                                Model.GroupName += " - " + Model.Group4Name;
                                            }
                                            if (!string.IsNullOrEmpty(Model.Group5Name))
                                            {
                                                Model.GroupName += " - " + Model.Group5Name;
                                            }
                                        }
                                        @Html.TextBoxFor(x => x.GroupName, new { @class = "form-control", placeholder = "Group" })
                                        <span asp-validation-for="GroupName" class="redColor"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-right editIcon" style="display:none" id="editUser">
                                        <a href="#" onclick="EditUser()"><img src='@Url.Content("~/images"+imgPath+"/edit-g.png")' /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="GroupList" style="display:none">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <ol class="breadcrumb treeBreadcrumb">
                                        <li class="siteMap"><img src='@Url.Content("~/images"+imgPath+"/site-map.png")' /></li>
                                        @if (Model.Group1Name != null)
                                        {
                                            <li class="breadcrumb-item @(Model.Group2Name == null ? "active" : "")" aria-current="page">@Model.Group1Name</li>
                                        }
                                        @if (Model.Group2Name != null)
                                        {
                                            <li class="breadcrumb-item @(Model.Group3Name == null ? "active" : "")" aria-current="page">@Model.Group2Name</li>
                                        }
                                        @if (Model.Group3Name != null)
                                        {
                                            <li class="breadcrumb-item @(Model.Group4Name == null ? "active" : "")" aria-current="page">@Model.Group3Name</li>
                                        }
                                        @if (Model.Group4Name != null)
                                        {
                                            <li class="breadcrumb-item @(Model.Group5Name == null ? "active" : "")" aria-current="page">@Model.Group4Name</li>
                                        }
                                        @if (Model.Group5Name != null)
                                        {
                                            <li class="breadcrumb-item active" aria-current="page">@Model.Group5Name</li>
                                        }
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div id="GroupTree" style="display:block">
                                    </div>
                                </div>
                            </div>
                            <div class="addEditUser" style="display:none">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                First Name
                                                <span class="starValid">*</span>
                                            </label>
                                            <input type="text" asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="redColor"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                Last Name
                                                <span class="starValid">*</span>
                                            </label>
                                            <input type="text" asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="redColor"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                Email Or UserName
                                                <span class="starValid">*</span>
                                            </label>
                                            <input type="text" asp-for="EmailAddress" class="form-control" />
                                            <span asp-validation-for="EmailAddress" class="redColor"></span>
                                            <span class="redColor" style="display:none" id="invalid_email">Email address is invalid</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                Hiring Date
                                                @*<span class="starValid">*</span>*@
                                            </label>
                                            <div class="calIcon">
                                                @Html.TextBoxFor(x => Model.HiringDate, "{0: MMM-dd-yyyy}", new { @class = "form-control styledate", @data_date_end_date = "0d", @readonly = "readonly" })
                                                <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                                @*<span asp-validation-for="HiringDate" class="redColor"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                Job Code
                                                <span class="starValid">*</span>
                                            </label>
                                            @Html.DropDownListFor(x => Model.JobCodeId, lstJobRoles, "Select", new { @class = "form-control" })
                                            <span asp-validation-for="JobCodeId" class="redColor"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Role Change Date</label>
                                            <div class="calIcon">
                                                @Html.TextBoxFor(x => Model.RoleChangeDate, "{0: MMM-dd-yyyy}", new { @class = "form-control styledate", @data_date_end_date = "0d", @readonly = "readonly" })
                                                <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @*<label for="" class="lblText">Status <span class="starValid">*</span></label>*@
                                            <div class="fullScreen">
                                                <label for="" class="lblText mb-0">Status<span class="starValid">*</span></label>
                                            </div>
                                            @*<div class="fullScreen">
                                                    <span class="activeText">Active</span>
                                                    <span class="switchbutton">
                                                        <label class="switch">
                                                            <input type="checkbox" id="chkStatus" name="PCDEdition.IsMultipack" value="true">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </span>
                                                    <span class="inactiveText">Inactive</span>
                                                </div>*@
                                            <span class="activeText">Inactive</span>
                                            <div id="btnSwitchiAddEdit" class="switchbutton"></div>
                                            <span class="inactiveText">Active</span>
                                            @*InActive
                                                <div id="btnSwitchiAddEdit"></div>
                                                Active*@
                                            <!--<span class="redColor">lorem Ipsum</span>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group centerInput">
                                            <div class="mt-3">
                                                <div class="form-check pl0">
                                                    @*<label class="form-check-label"><input type="checkbox" class="mr-1 mt5" id="rbRequired" checked="checked" /> Is Admin</label>*@
                                                    <div>
                                                        <label class="form-check-label">@Html.CheckBoxFor(m => m.IsAdmin) Is Admin</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                                        <div class="form-group">
                                            <input type="text" asp-for="LoginId" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabRTFooter" style="display:none">
                        <div class="bulkImpFooter">
                            <ul class="bulkImpListing">
                                <li>
                                    <button type="button" class="btn btn-primary btnSearch" id="btnSubmitAddEditUser">Submit</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    if ($("#UserId").val()) {
        $("#row_groupId").hide();
    }
    function switchActiveInactiveAddEdit() {
        $('#btnSwitchiAddEdit').btnSwitch({
            Theme: 'iOS',
            OnCallback: function (val) {
                $("#UserStatus").val(val);
            },
            OffCallback: function (val) {
                $("#UserStatus").val(val);
            },
            HiddenInputId: 'UserStatus',
            ToggleState: $("#UserStatus").val().toLowerCase() == "true" ? true : false
        });
    }
</script>


<script type="text/javascript">
    $(".styledate").datepicker({
        format: 'M-dd-yyyy',
        autoclose: true,
        clearBtn: true,
        todayBtn: false,
        todayHighlight: true
    });
    $(".clsDatePicker").on('click', function (e) {
        $(this).closest('.calIcon').find('.styledate').datepicker().focus();
    });
    $('.styledate').change(function () {
        $(this).focus();
        $(this).blur();
    });
</script>
<script type="text/javascript">

    $("#GroupName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Content("~/User/SearchEntityAsync")",
                type: "GET",
               // dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (!data.length) {
                        var result = [
                            {
                                label: 'No matches found',
                                value: ''
                            }
                        ];
                        response(result);
                    }
                    else {
                        response($.map(data, function (item) {

                            var display = "<div id='treeGrouping' style='display:block;'>";
                            display += "<div class='treeHeader'>";
                            display += "<span class='treeSiteMapIcon'><img src='@Url.Content("~/images"+imgPath+"/site-map.png")' /></span>";
                            if (item.GroupLevel == 1) {
                                display += "<span class='treeText colorBlackBold'>" + item.Group1Name + "</span>";
                                display += "<span class='plusCircleIcon'><a href='javascript:void(0);'><img src='@Url.Content("~/images"+imgPath+"/add-small.png")' /></a></span>";
                            }
                            else {
                                display += "<span class='treeText'>" + item.Group1Name + "</span>";
                            }
                            display += "</div>";
                            display += "<ol class='wrappCustomTree'>";
                            display += "<li>";
                            if (item.Group2Name != '' && item.Group2Name != null) {
                                if (item.GroupLevel == 2) {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText colorBlackBold'>" + item.Group2Name + "</span>";
                                    display += "<span class='plusCircleIcon'><a href='javascript:void(0);'><img src='@Url.Content("~/images"+imgPath+"/add-small.png")' /></a></span>";
                                }
                                else {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText '>" + item.Group2Name + "</span>";
                                }
                                display += "</li></ol></li></ol>";
                            }
                            if (item.Group3Name != '' && item.Group3Name != null) {
                                if (item.GroupLevel == 3) {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText colorBlackBold'>" + item.Group3Name + "</span>";
                                    display += "<span class='plusCircleIcon'><a href='javascript:void(0);'><img src='@Url.Content("~/images"+imgPath+"/add-small.png")' /></a></span>";
                                }
                                else {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText'>" + item.Group3Name + "</span>";
                                }
                                display += "</li></ol></li></ol>";
                            }
                            if (item.Group4Name != '' && item.Group4Name != null) {
                                if (item.GroupLevel == 4) {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText colorBlackBold'>" + item.Group4Name + "</span>";
                                    display += "<span class='plusCircleIcon'><a href='javascript:void(0);'><img src='@Url.Content("~/images"+imgPath+"/add-small.png")' /></a></span>";
                                }
                                else {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText'>" + item.Group4Name + "</span>";
                                }
                                display += "</li></ol></li></ol>";
                            }
                            if (item.Group5Name != '' && item.Group5Name != null) {

                                if (item.GroupLevel == 5) {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText colorBlackBold'>" + item.Group5Name + "</span>";
                                    display += "<span class='plusCircleIcon'><a href='javascript:void(0);'><img src='@Url.Content("~/images"+imgPath+"/add-small.png")' /></a></span>";
                                }
                                else {
                                    display += "<ol class='customTree'><li><ol><li><span class='borderTop'>&nbsp;</span><span class='treeText'>" + item.Group5Name + "</span>";
                                }
                                display += "</li></ol></li></ol>";
                            }
                            display += "</li>";
                            display += "</ol>";
                            display += "</div>";
                            var value = item.GroupId;
                            return { label: display, value: value };
                        }))
                    }
                    //else {
                    //    response(function () {
                    //        alert(1);
                    //        var display = "<div id='treeGrouping' style='display:block;'>";
                    //        display += "<div class=''>";
                    //        display += "<span class'text'>No data found</span>"
                    //        display += "</div>";
                    //        display += "</div>";
                    //        return {
                    //            label: display, value: ''
                    //        }
                    //    })
                    //}
                    //
                    //$("#GroupTree").show();
                    //$("#GroupTree").html(data);
                }
            })
        },
        select: function (e, i) {
            e.preventDefault();
            $('.addEditUser').hide();
            $('.tabRTFooter').hide();
            $("#GroupId").val(i.item.value);
           // $(this).val(i.item.label);
            if (i.item.value != 'No matches found') {
                $.ajax({
                    url: "@Url.Content("~/User/SearchEntityByGroupId")",
                    type: "POST",
                    // dataType: "json",
                    data: { Prefix: i.item.value },
                    success: function (data) {
                        $("#GroupTree").show();
                        $("#GroupTree").html(data);
                        $('.treeBreadcrumb').show();
                        $("#GroupName").val('');
                    }
                })
                $('.addEditUser').show();
                $('.tabRTFooter').show();
            }
            else {
                $("#GroupTree").hide();
                $("#GroupTree").html('');
                $("#GroupName").val("");
            }
        },
        focus: function (event, ui) {
            event.preventDefault();
            //if (ui.item.value != 'No matches found') {
            //    $("#GroupName").val('');
            //}
            //else {
            //    $("#GroupId").val('');
            //    $("#GroupName").val('');
            //}
        },
        minLength: 3
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        ul.addClass('autocompleteAddUser'); //Ul custom class here
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<div>" + item.label + "</div> ")
            .appendTo(ul);
    };
</script>
<script type="text/javascript">
    $("#EmailAddress").on('change', function (e) {
        var email = $(this).val();
        $("#LoginId").val(email);
        $("#LoginId").attr('readonly', 'readonly');
        if (email.indexOf('@@') > -1) {
            if (IsEmail(email) == false) {
                $('#invalid_email').show();
                $("#IsEmailValid").val(false);
                return false;
            }
            else {
                $('#invalid_email').hide();
                $("#IsEmailValid").val(true);
                return true;
            }
        }
        else {
            $("#IsEmailValid").val(true);
        }
    });
    function IsEmail(email) {
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!regex.test(email)) {
            $("#IsEmailValid").val(false);
            // $("#frmUser").valid() = false;
            return false;
        } else {
            $("#IsEmailValid").val(true);
            return true;
        }
    }
</script>
<script type="text/javascript">
    var UserId = '';
    $("#btnSubmitAddEditUser").on('click', function (e) {
        e.preventDefault();
        if ($("#frmUser").valid()) {
            var allowEdit = true;

            //check NCPDP Group Inactive
            var cUserStatus = $("#UserStatus").val().toLowerCase();
            if ($('#UserId').val() != "" && '@Model.Group3Name' != "" && cUserStatus == 'true' && '@Model.Status'== 'False') {
                $.ajax({
                    url: "@Url.Content("~/Group/GetNCPDPByID")",
                    type: "Get",
                    async: false,
                    // dataType: "json",
                    data: { Group3Id: '@Model.GroupId' },
                    success: function (data11) {
                        if (data11.Status == false) {
                            allowEdit = false;
                            showWarningMsg('User cannot be made active as the Group that he belongs is Inactive.');
                            return false;
                        }
                    }
                })
            }
            if (allowEdit == false) {
                $("#UserStatus").val('false');
                switchActiveInactiveAddEdit();
                return false;
            }



            if ($('#HiringDate').val() != '' &&  $('#RoleChangeDate').val() != '') {
                var RoleChangeDate = new Date($('#RoleChangeDate').val().replace('-', ' ').replace('-', ' '));
                var HiringDate = new Date($('#HiringDate').val().replace('-', ' ').replace('-', ' '));
                //var RoleChangeDate = new Date($('#RoleChangeDate').val());
                //var HiringDate = new Date($('#HiringDate').val());
                if (RoleChangeDate < HiringDate) {
                    showWarningMsg('Role Change Date must not be prior to the Hiring date');
                    return false;
                }
            }
            if ($("#IsEmailValid").val() == "false")
            {
                return false;
            }
            var formData = $("#frmUser").serializeArray();
            var URL = '@Url.Action("AddEditUser", "User")';
            $.post(URL,
                formData,
                function (data, textStatus, jqXHR) {

                    $('#UserId').val(data.UserId);
                    $('#IsOIGChecked').val(data.IsOIGChecked);
                    UserId = data.UserId
                    if (data.IsOIGChecked) {
                        $("#lnkOIG").attr("href", data.OIGCheckURL);
                       // $('.tabRTFooter').hide();
                        $("#spnHits").html('No. of Hits: <b>' + data.NoOfHits + '</b>');
                        $('.oigStatus').show();
                        $('#lblOIGMessage').text(data.OIGMessage);

                        $('#lblMessage').text(data.Message);
                        $('.successBox').show();
                        $('#btnSearch1').trigger('click');

                        $('#frmUser input').attr('readonly', 'readonly');
                        $('#frmUser select').attr('readonly', 'readonly');

                        $("#frmUser input").attr('disabled', 'disabled');
                        $("#frmUser select").attr('disabled', 'disabled');

                    }
                    if (UserId != '') {
                        $('#frmUser input').attr('readonly', 'readonly');
                        $('#frmUser select').attr('readonly', 'readonly');

                        $("#frmUser input").attr('disabled', 'disabled');
                        $("#frmUser select").attr('disabled', 'disabled');


						$(".tabRTFooter .btnSearch").removeClass("btn-primary");
						$(".tabRTFooter .btnSearch").addClass("btn-default disabled");//$('.tabRTFooter').show();
						$('.tabRTFooter .btnSearch').prop('disabled', true);
                        $('#editUser').show();

                        //$('.oigStatus').hide();
                        if (data.IsSuccess == true) {
                            $('#lblMessage').text(data.Message);
                            $('.successBox').show();
                            $('#btnSearch1').trigger('click');
                          // $('.overlay').show();
                        } else {
                           // showWarningMsg("Error occured while saving User data");
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                }).done(function (data, textStatus, jqXHR) {

                    $("#row_groupId").hide();
                    $("#btnSwitchiAddEdit .btn-switch").addClass("disabled");
                });
        }
        else {
            return false;
        }
    });
    $("#lnkOIG").click(function () {
        //$('.tabRTFooter').show();

        // $('#frmUser input').removeAttr('readonly');
        //$('#frmUser select').removeAttr('readonly', 'readonly');

        //$("#frmUser input").removeAttr('disabled');
        //$("#frmUser select").removeAttr('disabled');

    });
    function EditUser() {
        $('#frmUser input').attr('readonly', false);
        $('#frmUser select').attr('readonly', false);

        $("#frmUser input").removeAttr('disabled');
        $("#frmUser select").removeAttr('disabled');
        $("#RoleChangeDate").attr('readonly', 'readonly');
        $("#HiringDate").attr('readonly', 'readonly');

        $(".tabRTFooter .btnSearch").addClass("btn-primary");
		$(".tabRTFooter .btnSearch").removeClass("btn-default disabled");//$('.tabRTFooter').show();
		$('.tabRTFooter .btnSearch').prop('disabled', false);
        $('.successBox').hide();
        $('#editUser').hide();
        $('.oigStatus').hide();
        $('.addEditUser').show();
        $("#GroupName").attr('readonly', 'readonly');
        $(".addEditUser").removeAttr("style");
        $("#btnSwitchiAddEdit .btn-switch").removeClass("disabled");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var status = true;
        //$("#UserStatus").val(status);
        switchActiveInactiveAddEdit();
        if ($('#UserId').val() != "") {
            $('.addEditUser').show();
            $(".addEditUser").removeAttr("style");
            $('.tabRTFooter').show();
            $('#GroupList').show();
            $("#GroupName").attr('readonly', 'readonly');
        }
    });
</script>
<script type="text/javascript">
    var email = $("#EmailAddress").val();
    if (email != '') {
        $("#LoginId").attr('readonly', 'readonly');
    }
    $("#dismissAdd, .overlay").on('click', function (e) {
        $('#sidebarFilterAddUser').removeClass('active');
        $("#sidebarFilterAddUser").hide();
        $('.overlay').hide();
        //$("#btnClear").trigger('click');
        $("#sidebarFilterAddUser").html('');
    });
    //$(".filterBody").mCustomScrollbar({
    //    theme: "dark"
    //});
</script>
@if (TempData["alertMsg"] != null)
{
    <script type="text/javascript">
        showWarningMsg('@Html.Raw(TempData["alertMsg"])');
    </script>
}
@*@if (TempData["Msg"] != null)
    {
        <script type="text/javascript">
            showSuccessMsg('@Html.Raw(TempData["Msg"])');
        </script>
    }*@

<script>
   // $(document).ready(function () {
        if ($('#UserId').val() == "" && '@Level5AdminGroupName' != "") {
            $("#row_groupId").hide();
            @*$.ajax({
                url: "@Url.Content("~/User/SearchEntityAsync")",
                type: "GET",
                // dataType: "json",
                data: { Prefix: '@Level5AdminGroupName' },
                success: function (data) {
                    if (data != null || data == "") {*@

                        $('.addEditUser').hide();
                        $('.tabRTFooter').hide();
                        $("#GroupId").val('@Level5AdminGroupName');
                        if ('@Level5AdminGroupName' != 'No matches found') {
                            $.ajax({
                                url: "@Url.Content("~/User/SearchEntityByGroupId")",
                                type: "POST",
                                // dataType: "json",
                                data: { Prefix: '@Level5AdminGroupName' },
                                success: function (data) {
                                    $("#GroupTree").show();
                                    $("#GroupTree").html(data);
                                    $('.treeBreadcrumb').show();
                                    $("#GroupName").val('');


                                }
                            })
                            $('.addEditUser').show();
                            $('.tabRTFooter').show();
                        }
                        else {
                            $("#GroupTree").hide();
                            $("#GroupTree").html('');
                            $("#GroupName").val("");
                        }
            //        }

            //    }
            //});
        }
   // });
</script>