@model ChangePasswordRequestVM
@{
    ViewData["Title"] = "Change Password";
    string showLayout = ViewBag.ShowLayout;
    string layout = showLayout == "1" ? "~/Views/Shared/_BlankLayout.cshtml" : null;
    Layout = layout;

}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.5.0/js/md5.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<style>
    .jconfirm-content-pane {
        height: auto !important
    }
</style>


@if (Model.UserId != null)
{
    <div class="popConWrapp">


        @if (showLayout == "1")
        {
            <div class="conHeader">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                @if (Model.LoginId == null)
                                {
                                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        }

        <form id="frmChangePassword">
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.LoginId)
            @Html.HiddenFor(x => x.FirstName)
            @Html.HiddenFor(x => x.LastName)
            @Html.HiddenFor(x => x.IsPasswordChanged)
            @Html.HiddenFor(x => x.IsAdminPasswordChangeRequest)

            @if (Model.LoginId == null)
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Current Password <span class="starValid">*</span></label>
                        <div class="form-group">
                            <input type="password" asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="redColor"></span>
                            <span id="spnError" style="display:none" class="redColor"></span>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>New Password <span class="starValid">*</span></label>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="redColor"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Confirm Password <span class="starValid">*</span></label>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="redColor"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="btnCenter">
                            <button type="button" class="btn btn-primary btnSearch" id="btnChangePassword">Submit</button>
                            @if (showLayout == "1")
                            {
                                <a asp-controller="Login" asp-action="Login" class="btn btn-primary" id="btnCancelChangePassword">Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var isPasswordChange = $("#IsPasswordChanged").val()
        var isAdminPasswordChangeRequest = $("#IsAdminPasswordChangeRequest").val();
        if ($("#LoginId").val() == null || $("#LoginId").val() == '') {
            if (isPasswordChange.toLowerCase() == "false" && isAdminPasswordChangeRequest.toLowerCase() == "false") {
                $(".jconfirm-closeIcon").css("display", "none");
            }
        }
    });

    $("#CurrentPassword").change(function () { $("#spnError").hide(); });
</script>
<script type="text/javascript">
    $("#btnChangePassword").on('click', function (e) {
    $("#spnError").hide();
        var password = $("#Password").val();
        var FirstName = $("#FirstName").val();
        var LastName = $("#LastName").val();

        if ($("#frmChangePassword").valid()) {
            if (FirstName != '' && password.indexOf(FirstName) !== -1) {
                showWarningMsg('Password must not contain your FirstName', 'warning');
            }
            else if (LastName != '' && password.indexOf(LastName) !== -1) {
                showWarningMsg('Password must not contain your LastName', 'warning');
            }
            else {
                var currentPassword = $("#CurrentPassword").val();
                $("#CurrentPassword").val(md5(currentPassword));


                $("#Password").val(md5(password));

                var confirmPassword = $("#ConfirmPassword").val();
                $("#ConfirmPassword").val(md5(confirmPassword));
                var formData = $("#frmChangePassword").serializeArray();
                var URL = '@Url.Action("ChangePassword", "User")';
                $.post(URL, formData,
                    function (data) {
                        if (data.Message == 'success') {
                            if (data.IsAdmin) {
                                successMsgWithCallBack('Password changed successfully', fnRedirectAdmin);
                            }
                            else {
                                successMsgWithCallBack('Password changed successfully. Please click OK to Login.', fnRedirect);
                            }

                        }
                        else {
                            //showWarningMsg(data.Message);
                            $("#spnError").html(data.Message).show();

                            $("#Password").val('');
                            $("#ConfirmPassword").val('');
                        }
                    });
            }
        }
        else {
             return false;

        }
    });

    function fnRedirect() {
        window.location.href = '@Url.Action("Login", "Login")';
    }

    function fnRedirectAdmin() {
        // window.location.reload();
        $(".jconfirm-closeIcon").trigger('click');
        $('#btnSearch').trigger('click');

    }

    $("#CurrentPassword,#Password,#ConfirmPassword").keyup(function (e) {
        if (e.keyCode == 13) { $("#btnChangePassword").click(); }
    });
</script>
@if (TempData["alertMsg"] != null)
{
    <script type="text/javascript">
        showWarningMsg('@Html.Raw(TempData["alertMsg"])');
    </script>
}

