@model UserListRequestVM
@{
    ViewData["Title"] = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //SelectList lstDepartments = ViewBag.lstDepartments;
    //SelectList lstJobRoles = ViewBag.lstJobRoles;
    SelectList lstUserStatus = ViewBag.lstUserStatus;
    var FeatureId = Model.UserFeatures.Where(x => x.FeatureId == CommonConstants.FEATURE_ADDEDITUSER);


    var versionName = Context.Session.GetString("SessionVersionName");
    string sessionVersion = versionName == null ? "" : Newtonsoft.Json.JsonConvert.DeserializeObject<string>(versionName);
    string imgPath = string.IsNullOrEmpty(sessionVersion) ? "" : "/" + sessionVersion;
    //var objSessionUser = HttpContext.Session.GetSessionUser();
}

@Html.HiddenFor(x => x.Status)
<link href="~/css/autocomplete.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/js/jquery.btnswitch.js"></script>
<link href="~/css/jquery.btnswitch.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />

@*<script src="~/js/tableHeadFixer.js"></script>*@

@*<div class="loading"></div>*@

<style>
    .bulkImpFooter {
        width: 560px
    }

    #filterBodyAddUser .bulkImport {
        width: 560px
    }

    /*table {


        overflow-x: scroll;
        display: block;
    }


    thead, tbody {
        display: block;
    }*/


    .ui-menu {
        width: 259px !important;
        max-height: 400px !important;
        overflow-y: auto;
    }

    .adminrole .form-check-label {
        margin-right: 12px;
    }

    .adminrole input[type="checkbox"] {
        position: relative;
        top: 3px;
        margin-right: 5px;
        margin-left: 4px;
    }
</style>


<div class="conHeader mobileHeader">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
                </ol>
            </div>
            <div class="filterMenuIcon"></div>
            <div class="pull-right mobileFilterMenu">
                <ul class="headerListing">
                    @if (FeatureId.Count() > 0)
                    {
                        <li class="active" id="sidebarCollapseAddUser"><a href="javascript:void(0);" onclick="AddUser()"><span class="text">Add User</span> <span class="icon iconUser">&nbsp;</span></a></li>
                        @*<li id="sidebarCollapseBulkImport"><a href='javascript:void(0);'><span class="text">Bulk Import</span> <span class="icon iconbulkImp">&nbsp;</span></a></li>*@
                    }
                    @*<li><a href="@Url.Action("BulkImportHistory", "User")"><span class="text">Bulk Import History</span> <span class="icon iconBulkHis">&nbsp;</span></a></li>*@
                    <li><a href="@Url.Action("DownloadUserData", "User")" target="_blank"><span class="text">Export to Excel</span> <span class="icon iconExTOEx">&nbsp;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <div class="successBox" style="">
                    <div class="successBoxText float-left">
                        <h4>Success</h4>
                        <label class="lblMessage">User updated successfully.</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <div class="warningBox" style="">
                    <div class="warningBoxText float-left">
                        <h4>Warning</h4>
                        <label class="lblMessage">User updated successfully.</label>
                    </div>
                </div>
            </div>
        </div>*@

</div>

<div class="conInner">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tblFilter">
                <div id="filterBody" class="float-right">
                    <div class="filterWrapp">
                        <a href="javascript:void(0);">
                            @*<span id="sidebarCollapse" class="filterIcon">&nbsp;</span>*@
                        </a>
                        <div id="sidebarFilter">
                            <div class="paddLTRT">
                                <div class="filterHeader">
                                    <span class="filterInText pt-0">Advanced Filters</span>
                                    <div id="dismiss">
                                        <img src="@Url.Content("~/Images"+imgPath+"/back-icon.png")" />
                                    </div>
                                </div>
                            </div>
                            <div class="pos">
                                <div class="filterBody">
                                    <div class="clearFilter">
                                        <a href="#">
                                            <span class="cleText" id="btnClearFilter">Clear all</span>
                                            <span class="cleIcon">&nbsp;</span>
                                        </a>
                                    </div>
                                    <div class="filterForm">
                                        @*<div class="form-group">
                                                <label for="" class="lblText">Department</label>
                                                @Html.DropDownListFor(x => Model.DepartmentId, lstDepartments, "All", new { @class = "form-control" })
                                                <span class="redColor">lorem Ipsum</span>
                                            </div>*@
                                        <div class="form-group">
                                            <label for="" class="lblText">Email Address/User Name</label>
                                            @Html.TextBoxFor(x => Model.EmailAddress, new { @class = "form-control", @id = "ADVEmailAddress" })
                                            <!--<span class="redColor">lorem Ipsum</span>-->
                                        </div>
                                        @*<div class="form-group">
                                            <label for="" class="lblText">Job Code</label>
                                            @Html.DropDownListFor(x => Model.JobCodeId, lstJobRoles, "All", new { @class = "form-control" })
                                           
                                        </div>*@
                                        <!--<div class="form-group">
                                         <label for="" class="lblText">User Status</label>
                                         @Html.DropDownListFor(x => Model.Status, lstUserStatus, "All", new { @class = "form-control" })
                                        <span class="redColor">lorem Ipsum</span>
                                                                  </div>-->

                                        <div class="form-group">
                                            <label for="" class="lblText">Hiring Date</label>
                                            <ul class="dateListing">
                                                <li>
                                                    <div class="calIcon">
                                                        <input type="text" asp-for="HiringDateFrom" data_date_end_date="0d" data-val="true" class="form-control styledate" readonly="readonly" />
                                                        <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                                        <!--<span class="redColor">lorem Ipsum</span>-->
                                                    </div>
                                                </li>
                                                <li class="datetotext">
                                                    <label for="" class="lblText"> To </label>
                                                </li>
                                                <li>
                                                    <div class="calIcon">
                                                        <input type="text" asp-for="HiringDateTo" class="form-control styledate" readonly="readonly" />
                                                        <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                                        <!--<span class="redColor">lorem Ipsum</span>-->
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="lblText">Role Change Date</label>
                                            <ul class="dateListing">
                                                <li>
                                                    <div class="calIcon">
                                                        <input type="text" asp-for="RoleChangeDateFrom" data_date_end_date="0d" data-val="true" class="form-control styledate" readonly="readonly" />
                                                        <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                                        <!--<span class="redColor">lorem Ipsum</span>-->
                                                    </div>
                                                </li>
                                                <li class="datetotext">
                                                    <label for="" class="lblText"> To </label>
                                                </li>
                                                <li>
                                                    <div class="calIcon">
                                                        <input type="text" asp-for="RoleChangeDateTo" class="form-control styledate" readonly="readonly" />
                                                        <button type="button" class="ui-datepicker-trigger clsDatePicker"><i class="fa fa-calendar cal-btn"></i></button>
                                                        <!--<span class="redColor">lorem Ipsum</span>-->
                                                    </div>
                                                </li>

                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabRTFooter">
                                <div class="bulkImpFooter" style="width:280px">
                                    <ul class="bulkImpListing">
                                        <li>
                                            <button type="button" class="btn  btn-primary btnSearch123" id="btnSearch">Search</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Add/Edit User-->
                <div id="filterBodyAddUser" class="float-right">
                    <div class="filterWrapp">
                        <div id="sidebarFilterAddUser" class="bulkImport">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="mobileFilter">
        <div class="showFilterBtn" id="showBtnID"><button type="button" class="searchfilterbtn">Show Search Filter<i class="fa fa-chevron-down"></i></button></div>
        <div class="hideShowfilter">
            <div class="filterData ncdpfilter">
                <div class="formGroupTop pos mobile4Lis">
                    @Html.Hidden("hdSelectedGroup")
                    <ul class="formGroupTopListing">
                        <li class="mobile-col-6">
                            <div class="form-group">
                                <span class="activeText">Inactive</span>
                                <div id="btnSwitchiOSTheme" class="switchbutton"></div>
                                <span class="inactiveText">Active</span>
                            </div>
                        </li>
                        <li class="adminrole mobile-col-6">
                            <div class="form-group">
                                <label class="form-check-label">@Html.CheckBox("pIsAdmin") Admins Only</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                @Html.TextBoxFor(x => Model.FirstNameSearch, new { @class = "form-control", placeholder = "First Name" })
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                @Html.TextBoxFor(x => Model.LastNameSearch, new { @class = "form-control", placeholder = "Last Name" })
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Group1Name, new { @class = "form-control", placeholder = "Group" })
                            </div>
                        </li>
                        <li class="last-child">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-search btnSearch" id="btnSearch1">@*<i class="fa fa-search"></i>*@ <img src='@Url.Content("~/images"+imgPath+"/search.png")' /> </button>
                                <button type="button" class="btn btn-default btn-clear" id="btnClear">@*<i class="fa fa-refresh"></i>*@ <img src='@Url.Content("~/images"+imgPath+"/refresh.png")' /></button>
                            </div>
                        </li>
                        <li>
                            <div class="filterWrapp mngfiltermobile">
                                <a href="#">
                                    <span id="sidebarCollapse" class="filterIcon">&nbsp;</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hideFilterBtn" id="hideBtnId"><button type="button" class="searchfilterbtn">Hide Search Filter <i class="fa fa-chevron-up"></i></button></div>
        </div>
    </div>
</div>
@*<div class="float-right activeInactive">
        <button type="button" class="btn btn-primary btnAction" id="btnActive">Active</button>
        <button type="button" class="btn btn-primary btnAction" id="btnInActive">InActive</button>
    </div>*@

@Html.Hidden("hdnSelectedUserId")

<div id="divDataTable_length"></div>
<div class="chkTBL userpagetbl mngUsertbl">
    <div class="bulkImpLogHT">
        <table id="mydatatable" class="table">
            <thead>
                <tr>
                    <th style="min-width:20px;"></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address/User Name</th>
                    @*<th>Department Code</th>
                        <th>Department Name</th>*@
                    @*<th>Job Code</th>
                    <th>Group Name</th>
                    <th>Group Description</th>*@
                    <th>Group1NameHidden</th>
                    @*<th>DepartmentIdHidden</th>*@
                    @*<th>JobCodeIdHidden</th>*@
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="divdataTables_info"></div>



<script type="text/javascript">
    $(".styledate").datepicker({
        format: 'M-dd-yyyy',
        autoclose: true,
        clearBtn: true,
        todayBtn: false,
        todayHighlight: true
    });

    $(".clsDatePicker").on('click', function (e) {
        $(this).closest('.calIcon').find('.styledate').datepicker().focus();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
       $("#mydatatable").tableHeadFixer({ "head": true, "top": 1 });
        switchActiveInactive();
        var langUrl = $("#LangUrl").val();
        var mytable = $('#mydatatable').dataTable({
            "ajax": {
                "url": "@Url.Content("~/User/FillTableUsersAsync")?Active=1",
                "type": "POST",
                "error": function (x, y, z) {
                }
            },
            "language":
            {
                "url": langUrl
            },
            "aaSorting": [[2, 'asc']],
            "pageLength": 50,
            "serverSide": true,
            "bStateSave": false,
           // "pagingType": "listbox",  //pagination type using pulgin
            "processing": true,
            "pagingType": "full_numbers",  //pagination type using pulgin
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "filter": false,
            "oLanguage": {
            "oPaginate": {
            "sFirst": "<i class='fa fa-angle-double-left'></i>",
            "sPrevious": "«",
            "sNext": "»",
            "sLast": "<i class='fa fa-angle-double-right'></i>"
             }
            },
            //"sDom": 'lrtip',
            "bDeferRender": true,//hide the default search filter textbox by removing "f"
            "aoColumns":
                [
                {
                        "data": "IsAdmin", "sName": "IsAdmin", "class": "", "orderable": false, "mRender": function (data, type, full) {
                            if (data == "true") {
                                //return "<div class='' id='sidebarCollapseEditUser'><a class='' href='#' onClick=EditUser('" + data + "')><i class='fa fa-pencil' ></i></a></div>";
                                return "<div><span><img  class='BtnUserRole curPointer' prop-userid=" + full.UserId + "  prop-FirstName=" + encodeURI(full.FirstName)+"  prop-LastName=" + encodeURI(full.LastName)+"  src='@Url.Content("~/Images"+imgPath+"/AdminRed.png")' /></span></div>";


                            }
                            else
                                return "<div><span><img  class='BtnUserRole curPointer' prop-userid=" + full.UserId + "  prop-FirstName=" + encodeURI(full.FirstName)+"  prop-LastName=" + encodeURI(full.LastName)+"  src='@Url.Content("~/Images"+imgPath+"/Admingray.png")' /></span></div>";
                        }
                    },
                     { "data": "FirstName", "sName": "FirstName" },
                    { "data": "LastName", "sName": "LastName" },
                    { "data": "EmailAddress", "sName": "EmailAddress" },
                    //{ "data": "DepartmentCode", "sName": "DepartmentCode" },
                    //{ "data": "DepartmentName", "sName": "DepartmentName" },
                 /*   { "data": "JobCode", "sName": "JobCode" },*/
                    //{ "data": "ZipCode", "sName": "ZipCode" },
                  /*  { "data": "GroupName", "sName": "GroupName" },*/
                   // { "data": "GroupDescription", "sName": "GroupDescription", "class": "width265" },

                    //{
                    //    "data": "GroupDescription", "sName": "GroupDescription", "class": "", "orderable": true, "mRender": function (data, type, full) {
                    //        if (data != null) {
                    //            return '<div class="groupDesTBL">'+data+'</div>';
                    //        }
                    //        else
                    //            return "";
                    //    }
                    //},




                    { "data": "Group1Name", "sName": "Group1Name", "visible": false },
                    //{ "data": "DepartmentId", "sName": "DepartmentId", "visible": false },
                  /*  { "data": "JobCodeId", "sName": "JobCodeId", "visible": false },*/
                    {
                        "data": "UserId", "sName": "", "class": "", "orderable": false, "mRender": function (data, type, full) {
                            if (data != null) {
                                //return "<div class='' id='sidebarCollapseEditUser'><a class='' href='#' onClick=EditUser('" + data + "')><i class='fa fa-pencil' ></i></a></div>";
                                return "<div id='sidebarCollapseEditUser' class='tablehoverbuttons'> <i class='fa fa-ellipsis-h'></i> <div class='buttonshover'> <div class='changepwdbtn'><a title='Reset Password' class='clsChangePassword' prop-userid=" + data + " href='javascript:void(0);' ><span class='pull-left'><img src='@Url.Content("~/Images"+imgPath+"/resetpassword.png")' /></span></a></div><div class='editbtn'><a title='Edit User' class='clsEdit' prop-userid=" + data + " href='javascript:void(0);' ><span class='pull-left'><img src='@Url.Content("~/Images"+imgPath+"/edit.png")' /></span></a></div></div> </div>";


                            }
                            else
                                return "";
                        }
                    },
                    { "data": "HiringDateFrom", "sName": "HiringDateFrom", "visible": false },
                    { "data": "HiringDateTo", "sName": "HiringDateTo", "visible": false },
                    { "data": "RoleChangeDateFrom", "sName": "RoleChangeDateFrom", "visible": false },
                    { "data": "RoleChangeDateTo", "sName": "RoleChangeDateTo", "visible": false },
                    { "data": "Status", "sName": "Status", "visible": false },
                    { "data": "EmailAddress", "sName": "EmailAddress",  "visible": false},


                ]
        });
         mytable.on('order.dt', function () { $('.dataTables_paginate,.dataTables_info').show(); });
        mytable.on('length.dt', function (e, settings, len) { $('.dataTables_paginate,.dataTables_info').show(); });

        $("#divDataTable_length").append($(".dataTables_info"));
        $("#divdataTables_info").append($(".dataTables_length"));
        $("#divdataTables_info").append($(".dataTables_paginate"));

        function fnGetDataForActivities() {
            if ($("#Group1Name").val() == "") {
                $("#hdSelectedGroup").val('')
            }
            var searchObj = new Object();
            searchObj.FirstName = $('#FirstNameSearch').val();
            searchObj.LastName = $('#LastNameSearch').val();
            searchObj.EmailAddress = $('#ADVEmailAddress').val();
            //searchObj.LastName = $('#LastName').val();
            searchObj.Group1Name = $("#hdSelectedGroup").val();
            //searchObj.DepartmentId = $('#DepartmentId').val();
          /*  searchObj.JobCodeId = $('#JobCodeId').val();*/
            searchObj.Status = $('#Status').val();
            searchObj.HiringDateFrom = $('#HiringDateFrom').val();
            searchObj.HiringDateTo = $('#HiringDateTo').val();
            searchObj.RoleChangeDateFrom = $('#RoleChangeDateFrom').val();
            searchObj.RoleChangeDateTo = $('#RoleChangeDateTo').val();
            searchObj.IsAdmin = $('#pIsAdmin').prop("checked");
            return searchObj;
        }

        function fnFilterActivities(val) {
            searchObj = fnGetDataForActivities();
            $("#mydatatable").dataTable().fnMultiFilter({
                "FirstName": searchObj.FirstName,
                "LastName": searchObj.LastName,
                "EmailAddress":searchObj.EmailAddress,
                //"LastName": searchObj.LastName,
                "Group1Name": searchObj.Group1Name,
                //"DepartmentId": searchObj.DepartmentId,
                "JobCodeId": searchObj.JobCodeId,
                "Status": searchObj.Status,
                "HiringDateFrom": searchObj.HiringDateFrom,
                "HiringDateTo": searchObj.HiringDateTo,
                "RoleChangeDateFrom": searchObj.RoleChangeDateFrom,
                "RoleChangeDateTo": searchObj.RoleChangeDateTo,
                "IsAdmin": searchObj.IsAdmin
            });
            if (val == true) {
                 $('#dismiss').trigger('click');
            }

        }

        function clearfilter() {
            $('#FirstNameSearch').val('');
            $('#LastNameSearch').val('');
            $("#ADVEmailAddress").val('');
            //$('#LastName').val('');
            //$('#hdSelectedGroup').val('');
            //$('#DepartmentId').val('');
          /*  $('#JobCodeId').val('');*/
            $('#Status').val('true');
            $('#Group1Name').val('');
            $('#hdSelectedGroup').val('');
            $('#HiringDateFrom').val('');
            $('#HiringDateTo').val('');
            $('#RoleChangeDateFrom').val('');
            $('#RoleChangeDateTo').val('');
            $("#ListAllActiveInActive").attr('checked', 'checked');
            $('#pIsAdmin').prop('checked', false);
            //$('#btnSwitchiOSTheme').btnSwitch({
            //    Theme: 'iOS',
            //    HiddenInputId: 'Status',
            //    ToggleState: $("#Status").val().toLowerCase() == "true" ? true : false
            //});
            $('#Status').val('true');
            switchActiveInactive();
            fnFilterActivities();
        }

        function clearInsidefilter() {
            //$('#DepartmentId').val('');
           /* $('#JobCodeId').val('');*/
            $('#ADVEmailAddress').val('');
            $('#HiringDateFrom').val('');
            $('#HiringDateTo').val('');
            $('#RoleChangeDateFrom').val('');
            $('#RoleChangeDateTo').val('');
            $('#Status').val('true');
            switchActiveInactive();
            fnFilterActivities();
        }


        $('#btnClear').click(function () {
            clearfilter();
        });

        $('#btnClearFilter').click(function () {
            clearInsidefilter();
        });
        $("#FirstNameSearch,#LastNameSearch,#Group1Name,#ADVEmailAddress,#HiringDateFrom,#HiringDateTo,#RoleChangeDateFrom,#RoleChangeDateTo").keyup(function (e) {
            if (e.which  == 13) {
                fnFilterActivities();
            }
        });

        $('.btnSearch').click(function () {
            fnFilterActivities(false);
        });

        $('.btnSearch123').click(function () {
            fnFilterActivities(true);
        });

        $('#mydatatable tbody').on('click', '.clsEdit', function () {
            $("#sidebarFilterAddUser").html('');
            var UserId = $(this).attr('prop-userid');
            $('#sidebarFilterAddUser').show();
            $('#sidebarFilterAddUser').addClass('active');
            $('.overlay').show();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');

            var url = '@Url.Action("AddEditUser","User")?UserId=' + UserId + '';
            $("#sidebarFilterAddUser").load(url);
        });

        $('#mydatatable tbody').on('click', '.clsChangePassword', function (e) {
            var UserId = $(this).attr('prop-userid');
            var url = '@Url.Action("ChangePassword","User")?UserId=' + UserId + '&ShowLayout="0"';
            e.preventDefault();

            $.dialog({
                title: 'Reset Password',
                content: 'url:' + url, columnClass: 'col-md-4 col-md-offset-4'
            });
        });
    });
</script>
<script type="text/javascript">

    function fillhidden(chk) {
        var checked = $("#mydatatable td :checkbox:checked").length;

        if (chk.checked) {
            var PrevValue = $('#hdnSelectedUserId').val();
            PrevValue = PrevValue + $(chk).attr("propid") + ",";
            $('#hdnSelectedUserId').val(PrevValue);
        }
        else {
            var PrevValue = $('#hdnSelectedUserId').val();
            var currentcheckbox = $(chk).attr("propid");// + ',';
            PrevValue = PrevValue.replace(currentcheckbox, ' ');
            $('#hdnSelectedUserId').val(PrevValue);
        }
    }

    $("#chkAll").on("change", function (e) {
        var checked = $("#chkAll:checked").length;
        if (checked > 0) {
            $(".chkUsers").each(function (e) {
                $(this).prop('checked', true);
                fillhidden(this);
            });
        }
        else {
            $(".chkUsers").each(function (e) {
                $(this).prop('checked', false);
                fillhidden(this);
            });
        }
    });
</script>
@*<script type="text/javascript">
    $("#Group1Name").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Content("~/User/SearchEntityAsync")",
                type: "GET",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (!data.length) {
                        var result = [
                            {
                                label: 'No matches found',
                                value: ''
                            }
                        ];
                        response(result);
                    } else {
                        response($.map(data, function (item) {
                            var display = "" + item.GroupName; //+ " - " + item.GroupType + "";
                            var value = item.GroupId + "~" + item.SearchOnGroupId;
                            return { label: display, value: value };
                        }))
                    }
                }
            })
        },
        select: function (e, i) {
            e.preventDefault();
            if (i.item.value == 'No matches found') {
                $("#Group1Name").val('');
                $("#hdSelectedGroup").val('');
                return false;
            }
            $("#hdSelectedGroup").val(i.item.value);
            $(this).val(i.item.label);
        },
        focus: function (event, ui) {
            event.preventDefault();
            //if (ui.item.value != 'No matches found') {
            //    $("#Group1Name").val(ui.item.label);
            //}
            //else {
            //    $("#hdSelectedGroup").val('');
            //    $("#Group1Name").val('');
            //}
        },
        minLength: 3
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<div>" + item.label + "</div> ")
            .appendTo(ul);
    };
</script>*@
<script type="text/javascript">
    $(document).ready(function () {

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebarFilter').hide();
            $('.overlay').hide();
        });

        $('#sidebarCollapse').on('click', function () {

          /*  $('#JobCodeId').val('');*/
            $('#ADVEmailAddress').val('');
            $('#HiringDateFrom').val('');
            $('#HiringDateTo').val('');
            $('#RoleChangeDateFrom').val('');
            $('#RoleChangeDateTo').val('');
            $('#sidebarFilter').show();
            $('.overlay').show();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            $('.tabRTFooter').show();
        });

        $('.ssidebarCollapse').on('click', function () {
            $('#sidebarFilter').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script type="text/javascript">
    $('#mydatatable tbody').on('click', '.BtnUserRole', function () {
            $("#sidebarFilterAddUser").html('');
        var UserId = $(this).attr('prop-userid');
        var FirstName = $(this).attr('prop-FirstName');
        var LastName = $(this).attr('prop-LastName');

            $('#sidebarFilterAddUser').show();
            $('#sidebarFilterAddUser').addClass('active');
            $('.overlay').show();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            var url = '@Url.Action("UserRoleListByUserId", "User")?UserId=' + UserId + '&FirstName=' + FirstName + '&LastName=' + LastName +'';
            $("#sidebarFilterAddUser").load(url);
        });
</script>

<script type="text/javascript">

    //$(document).on('click', "#sidebarCollapseEditUser > a", function () {
    //    $('#sidebarFilterAddUser').addClass('active');
    //    $('.overlay').addClass('active');
    //    $('.collapse.in').toggleClass('in');
    //    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    //});


    //function EditUser(UserId) {


    //}

    function ViewBulkImportLog(BulkImportId, IsError) {

        console.log('Bulk import start');
        console.log('BulkImportId=' + BulkImportId);
        console.log('IsValidationError=' + IsError);

        $("#sidebarFilterAddUser").html('');
        $('#sidebarFilterAddUser').show();
        $('#sidebarFilterAddUser').addClass('active');
        $('.overlay').show();
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');



         var url = '@Url.Action("BulkImportLogsDetails", "User")?BulkImportId=' + BulkImportId + '&IsError=' + IsError + '';
        console.log('url=' + url);

        $("#sidebarFilterAddUser").load(url);
    }


     function AddUser() {
        $("#sidebarFilterAddUser").html('');

        //$('.collapse.in').toggleClass('in');
        //$('a[aria-expanded=true]').attr('aria-expanded', 'false');
        $('#sidebarFilterAddUser').addClass('active');
        $('#sidebarFilterAddUser').show();
        $('.overlay').show();

        var url = '@Url.Action("AddEditUser","User")'
        $("#sidebarFilterAddUser").load(url, function () {

        });
    }



</script>


<script type="text/javascript">
    $("#sidebarCollapseBulkImport").on('click', function (e) {

        e.preventDefault();
        $('#sidebarFilterAddUser').show();
        $('#sidebarFilterAddUser').addClass('active');
        $('.overlay').show();

        var url = "@Url.Action("BulkImport", "User")";
        $("#sidebarFilterAddUser").load(url);
    });
</script>
@if (TempData["alertMsg"] != null)
{
    <script type="text/javascript">
        showWarningMsg('@Html.Raw(TempData["alertMsg"])');
    </script>
}

@if (TempData["StatusMsg"] != null)
{
    <script type="text/javascript">

    </script>
}
@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        showSuccessMsg('@Html.Raw(TempData["Msg"])');
    </script>
}
@if (TempData["StatusMsg"] != null)
{
    <script type="text/javascript">
        showSuccessMsg('@Html.Raw(TempData["StatusMsg"])');
    </script>
}


<script type="text/javascript">
    function switchActiveInactive() {
        $('#btnSwitchiOSTheme').btnSwitch({
            Theme: 'iOS',
            HiddenInputId: 'Status',
            OnCallback: function (val) {
                $(".btnSearch").trigger('click');
                $('.overlay').hide();
            },
            OffCallback: function (val) {
                $(".btnSearch").trigger('click');
                $('.overlay').hide();
            },
            ToggleState: $("#Status").val().toLowerCase() == "true" ? true : false
        });
    }
</script>
